{
    "preset":[
        [
            "@babel/preset-env",
            {
                "targes":">1%",
                "useBuiltIns":"usege",
                "corejs":3
            }
        ]
    ]
}